<ng-template #stockTemplate let-attrs="attrs">
    <ion-item>
        <ion-label>
            <span [innerHTML]="attrs.data.symbol | boldprefix:attrs.keyword"></span>
            :
            <span [innerHTML]="attrs.data.name | boldprefix:attrs.keyword"></span>
        </ion-label>
    </ion-item>
</ng-template>

<ion-row>
    <ion-col [size]="12">
        <ion-auto-complete [dataProvider]="stocksService"
                           [options]="{ placeholder : 'Search stock' }"
                           [template]="stockTemplate"
                           (itemSelected)="itemSelected($event)">
        </ion-auto-complete>
    </ion-col>
</ion-row>

<!--<ion-list>-->


<!--    <ion-menu-toggle auto-hide="false"-->
<!--                     *ngFor="let p of appPages; let i = index">-->
<!--        <ion-item (click)="selectedIndex = i"-->
<!--                  routerDirection="root"-->
<!--                  [routerLink]="[p.url]"-->
<!--                  lines="none" detail="false"-->
<!--                  [class.selected]="selectedIndex == i">-->
<!--            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>-->
<!--            <ion-label>{{ p.title }}</ion-label>-->
<!--        </ion-item>-->
<!--    </ion-menu-toggle>-->
<!--</ion-list>-->

<app-stocks-list [labels]="labels"></app-stocks-list>
